.typing-effect {
  font-size: 1.5em;
  display: inline-block;
  margin-bottom: 1em;
}

.cursor {
  display: inline-block;
  width: 0.6em;
  height: 1.2em;
  background-color: #1b1b1d; /* or any color you prefer */
  margin-left: 2px;
  animation: blink 0.7s infinite;
  vertical-align: text-bottom;
}

html[data-theme='dark'] .cursor {
    background-color: #fff;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
